body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: linear-gradient(to right, rgb(97, 182, 34), rgb(2, 207, 216));
}

h1 {
    color: white;
    padding: 30px 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid {
    box-shadow: 0px 0px 20px black;
    height: 500px;
    width: 500px;
    display: flex;
    flex-wrap: wrap;
}

.grid-row {
    display: flex;
}

.grid-pixel {
    background-color: white;
}

.controls {
    display: flex;
}

.btn {
    margin: 40px;
    padding: 20px;
    border-radius: 10px;
}

.bgColor {
    background-color: brown;
}